            <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/plug-ins/e9421181788/integration/bootstrap/3/dataTables.bootstrap.css">
  
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li><a>Realtime View</a></li>
              <li class="active">Scan Screen</li>
            </ol>

            <!--  -->
            <div class="col-lg-12 panel-details">
                 <div class="">
                    <h3>Scan Screen</h3>
                    <h7>Scan from NFC Reader</h7>
                 </div>

            </div>
            <!-- Scan from Assets -->
            <div ng-show="!submitted" class="col-lg-12">
              <div class="panel panel-default" style="border-radius:0px;">
                <div class="panel-body">
                    <form class="form-horizontal" role="form"  name="assetFeed" novalidate>
                      
                      <!-- Asset Tag Input -->
                      <div class="form-group">
                        <label for="asset-tag" class="col-sm-2 control-label">Asset Tag</label>
                        <div class="col-sm-6">
                          <input type="text" class="form-control" id="asset-tag" placeholder="Asset Tag Id" ng-model="tag" required>
                        </div>
                      </div>

                   

                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn submit btn-primary" ng-disabled="!assetFeed.$valid" ng-click="changeView()">Submit</button>
                          <a href="#" class="but-cancel">Cancel</a>
                        </div>
                      </div>
                    </form>
                </div>
              </div>
            </div>

            <div ng-show="submitted&&dataSearching" class="col-lg-12">
              
              <img style="position:relative;top:50%;left:44%; "src="img/preloader.gif">
            </div>
            <!-- Scan Details -->
            <div ng-show="submitted&&!dataSearching&&!error" class="col-lg-12">
              <div class="panel panel-default" style="border-radius:0px;">
                <div class="panel-body">
                  <div class="col-lg-12 asset-details">
                          <div class="col-md-6 left-asset-move">
                            
                              <p><strong>Employee Name: </strong> {{empData.name}} </p>
                              <p><strong>Employee LPN : </strong> {{empData.empid}}</p>
                              <p><strong>Mac ID : </strong>  {{empData.mac}}</p>
                              <p><strong>Email: </strong> {{empData.email}} </p>
                              <p><strong>Designation : </strong> {{empData.desig}}</p>
                              <p><strong>Phone : </strong>  {{empData.phone}}</p>
                              
                          </div>
                          <div class="col-md-6 right-asset-move">        
                            <p class="img-right-emp-data"><img src="http://media-cache-ec0.pinimg.com/736x/8f/99/2b/8f992b54d28760ed078c3f7a88233dea.jpg"></p>
                          </div>
                  </div>

                  <div>
                      <tabset>
                        <tab heading="Scan Assets">
                          <div ng-show="!assetSubmitted" class="panel panel-default" style="border-radius:0px;">
                            <div class="panel-body">
                                <form class="form-horizontal" role="form"  name="assetForm" novalidate>
                                  
                                  <!-- Asset Tag Input -->
                                  <div class="form-group">
                                    <label for="asset-tag" class="col-sm-2 control-label">Asset Tag</label>
                                    <div class="col-sm-6">
                                      <input type="text" class="form-control" id="asset-tag" placeholder="Asset Tag Id" ng-model="assettag" required>
                                    </div>
                                  </div>

                               

                                  <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                      <button type="submit" class="btn submit btn-primary" ng-disabled="!assetForm.$valid" ng-click="assetChangeView()">Submit</button>
                                      <a href="#" class="but-cancel">Cancel</a>
                                    </div>
                                  </div>
                                </form>
                            </div>
                          </div>
                          <div ng-show="assetSubmitted&&assetDataSearch" class="col-lg-12">
                              <img style="position:relative;top:50%;left:44%; "src="img/preloader.gif">
                          </div>
                        </tab>
                        <tab heading="Assets Owned by {{empData.name}}">
                          <div ng-show="!assetSubmitted" class="panel panel-default" style="border-radius:0px;">
                            <div class="panel-body">
                                <table>
                                  <tr ng-repeat="asset in assetDataEmp">
                                      <td>{{asset.assetname}}</td>
                                  </tr>
                                </table>
                            </div>
                          </div>
                          <div ng-show="assetSubmitted&&assetDataSearch" class="col-lg-12">
                              <img style="position:relative;top:50%;left:44%; "src="img/preloader.gif">
                          </div>
                        </tab>
                      </tabset>
                  </div>
                </div>
              </div>
            </div>
            <div ng-show="error" class="col-lg-12">
              <p>User not Found</p>
            </div>