         <!-- Breadcrumb -->
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li><a >Asset Master</a></li>
              <li class="active">Add Assets</li>
            </ol>
            <!-- Add/Edit Asset -->
            <div class="col-lg-10">
              <div class="panel panel-default" style="border-radius:0px;">
                <div class="panel-heading add-asset"><h3>ADD ASSETS</h3></div>
                <div class="panel-body" ng-controller="AddAssetController">
                    <form class="form-horizontal" role="form"  name="assetFeed" novalidate>
                      
                      <!-- Asset Tag Input -->
                      <div class="form-group">
                        <label for="asset-tag" class="col-sm-2 control-label">Asset Tag</label>
                        <div class="col-sm-6">
                          <input type="text" class="form-control" id="asset-tag" placeholder="Asset Tag Id" ng-model="assetForm.tag" required>
                        </div>
                      </div>

                      <!-- Asset Name Input Field -->
                      <div class="form-group">
                        <label for="asset-name" class="col-sm-2 control-label">Asset Name</label>
                        <div class="col-sm-6">
                          <input type="text" name="assetname" class="form-control" id="asset-name" placeholder="Asset Name" ng-model="assetForm.name" ng-minlength="4">
                           <p ng-show="assetForm.assetname.$error.minlength"  ng-class="{ 'has-error' : assetForm.assetname.$invalid && !userForm.name.$pristine }" class="alert alert-danger" required>Username is too short.</p>
                        </div>
                      </div>

                      <!-- Serial No of the asset-->
                      <div class="form-group">
                        <label for="serial-no" class="col-sm-2 control-label">Serial No</label>
                        <div class="col-sm-6">
                          <input type="text" class="form-control" id="serial-no" placeholder="Serial No" ng-model="assetForm.serial">
                        </div>
                      </div>

                      <!-- Model No of the asset -->
                      <div class="form-group">
                        <label for="model-no" class="col-sm-2 control-label">Model No</label>
                        <div class="col-sm-6">
                          <input type="text" class="form-control" id="model-no" placeholder="Model No" ng-model="assetForm.modelno">
                        </div>
                      </div>

                      <!-- Purchase Date -->
                      <div class="form-group">
                        <label for="purchase-date" class="col-sm-2 control-label">Purchase Date</label>
                        <div class="col-sm-6" id="pur-date" data-date="12-02-2012" data-date-format="dd-mm-yyyy"> 
                          <input type="text" class="form-control" id="purchase-date" placeholder="Purchase Date"  ng-model="assetForm.purdat">
                        </div>
                      </div>

                      <!-- Warranty -->
                      <div class="form-group">
                        <label for="warranty" class="col-sm-2 control-label">Warranty</label>
                        <div class="col-sm-6 input-group warranty"> 
                          <input type="text" class="form-control" id="warranty" placeholder="Warranty"  ng-model="assetForm.warranty">
                          <span class="input-group-addon append-months" >months</span>
                        </div>
                      </div>

                      <!-- Notes -->
                      <div class="form-group">
                        <label for="notes" class="col-sm-2 control-label">Notes</label>
                        <div class="col-sm-6" id="notes"> 
                          <textarea class="form-control" id="notes" placeholder="Notes"  ng-model="assetForm.notes"></textarea>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn submit btn-primary" ng-disabled="!assetFeed.$valid" ng-click="sendData()">Submit</button>
                          <a href="#" class="but-cancel">Cancel</a>
                        </div>
                      </div>

            {{assetForm}}
                    </form>
                </div>
                </div>
            </div> 